---
const { align = 'left' }: { align?: 'left' | 'center' | 'right' } =
    Astro.props || {};

const classNameMap = {
    left: 'justify-content-start',
    center: 'justify-content-center',
    right: 'justify-content-end',
};

const alignClass = classNameMap[align] || 'justify-content-start';
---

<div class={`d-flex ${alignClass}`}>
    <div class="text-center w-25 py-3 light-dark-background">
        align: {align}
    </div>
</div>
