---
import BootstrapProvider from '@components/Provider/BootstrapProvider.astro';
import AlignItem from './AlignItem.astro';
---

<BootstrapProvider>
    <div class="container">
        <AlignItem align="left" />
        <AlignItem align="center" />
        <AlignItem align="right" />
    </div>
</BootstrapProvider>
