---
import BootstrapProvider from '@components/Provider/BootstrapProvider.astro';
import CardItem from './CardItem.astro';

const cardItemArray = [
    {
        title: 'Title 1',
        description: 'Lorem Ipsum lorem dale',
        color: 'primary',
    },
    {
        title: 'Title 2',
        description: 'Lorem Ipsum lorem dale',
        color: 'secondary',
    },
    { title: 'Title 3', description: 'Lorem Ipsum lorem dale', color: 'white' },
];
---

<BootstrapProvider>
    <div class="container">
        <div class="row">
            {
                cardItemArray.map((cardItem) => (
                    <CardItem
                        title={cardItem.title}
                        description={cardItem.description}
                        color={cardItem.color}
                    />
                ))
            }
        </div>
    </div>
</BootstrapProvider>
