---
import BootstrapProvider from '@components/Provider/BootstrapProvider.astro';
---

<BootstrapProvider>
    <div class="custom-list">
        <h2>Unordered List</h2>
        <ul class="">
            <li class="">Item 1</li>
            <li class="">Item 2</li>
            <li class="">Item 3</li>
        </ul>
        <h2>Ordered List</h2>
        <ol class="">
            <li class="">Item 1</li>
            <li class="">Item 2</li>
            <li class="">Item 3</li>
        </ol>
    </div>
</BootstrapProvider>