---
import BootstrapProvider from '@components/Provider/BootstrapProvider.astro';
---

<BootstrapProvider>
    <div class="grid-border p-4">
        <h1>Hello World</h1>
    </div>
</BootstrapProvider>