---
import Docs from "components/Config/Docs.astro";
---

<style lang="scss">
	.docs {
		@import "bootstrap/scss/bootstrap";
	}
</style>

<div class="docs">
	<div class="container">
		<div class="row">
			<div class="col-6">
				<p>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. In
					ad rem tempora, temporibus maxime modi blanditiis cupiditate
					quisquam culpa corporis, iure quibusdam expedita placeat
					odit nemo error, facilis sint minima?
				</p>
			</div>
			<div class="col-6">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Facilis quaerat molestias a placeat mollitia suscipit soluta
					delectus officiis ipsum? Ea distinctio voluptatibus
					exercitationem earum doloribus possimus voluptates aut natus
					accusantium.
				</p>
			</div>
		</div>
	</div>
</div>
