---
import BootstrapProvider from '@components/Provider/BootstrapProvider.astro';
---

<BootstrapProvider>
    <div class="d-flex justify-content-center align-items-center gap-3">
        <div class="btn btn-bootstrap-primary mt-0">Button Primary</div>
        <div class="btn btn-bootstrap-secondary mt-0">Button Secondary</div>
    </div>
</BootstrapProvider>
