---
title: Call to Action
description: Your Description
sidebar:
    badge:
        text: WIP
        variant: danger
---

import { Code } from '@astrojs/starlight/components';
import CallToAction from "@components/components/CallToAction/CallToAction.astro";

<CallToAction title="Call to Action" content="This is a call to action component."/>

## Call to Action Component
The **Call to Action Component** allows users to create a prominent section that encourages visitors to take a specific action, such as signing up, purchasing, or learning more. It includes features for setting the title, content, and button properties.