---
import BootstrapProvider from '@components/Provider/BootstrapProvider.astro';
---

<BootstrapProvider>
    <div class="container-border">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div
                        class="container-item light-dark-background shadow border border-primary d-flex justify-content-center align-items-center mx-2"
                    >
                        <p class="fw-bold fs-32">Container</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</BootstrapProvider>
