---
title: Utilities
description: How to Work with Utilities in Starlight
sidebar:
    order: 0
---

variant?: 'note' | 'tip' | 'caution' | 'danger' | 'success' | 'default';

# Utilities

How to Work with Utilities in Elementor