---
import { Image } from "astro:assets";
import image from "../../assets/placeholder-image.webp";
---

<style lang="scss">
	.docs {
		@import "bootstrap/scss/bootstrap";

		.big-teaser__image-wrapper {
			height: 36.25rem;
			overflow: hidden;
		}
	}
</style>

<div class="docs">
	<div class="position-relative">
		<div class="big-teaser__image-wrapper">
			<Image
				src={image}
				alt="Placeholder Image"
				class={"w-100 h-100 object-fit-cover"}
			/>
		</div>
		<div class="position-absolute bottom-0 w-100">
			<div class="big-teaser__content">
				<h2 class="fs-50 fw-bold text-text">Headline</h2>
				<h3 class="fs-36 fw-bold text-text">Subheadline</h3>
				<div class="fs-16 text-text">Lorem Ipsum</div>
			</div>
		</div>
	</div>
</div>
