---
import BootstrapProvider from '@components/Provider/BootstrapProvider.astro';
const { title } = Astro.props;
---

<BootstrapProvider>
    <h2 class="fw-bold fs-36">{title}</h2>
</BootstrapProvider>
