---

---

<div class="col-6">
    <div
        class="grid-item grid-border light-dark-background d-flex justify-content-center align-items-center"
    >
        <div class="fw-bold fs-32">Grid Item</div>
    </div>
</div>
