---
import BootstrapProvider from '@components/Provider/BootstrapProvider.astro';
import GridItem from './GridItem.astro';
---

<BootstrapProvider>
    <div class="container-border">
        <div class="container">
            <div class="row justify-content-center row-gap-3">
                <GridItem col="3" />
                <GridItem col="3" />
                <GridItem col="6" />
                <GridItem col="12" />
                <GridItem col="6" />
                <GridItem col="6" />
            </div>
        </div>
    </div>
</BootstrapProvider>
