---
import BootstrapProvider from '@components/Provider/BootstrapProvider.astro';
import AccordionItem from './AccordionItem.astro';

const accordionData = [
    {
        question: 'What is the capital of France?',
        answer: 'Paris',
        id: 'item1',
    },
    {
        question: 'What is the capital of Spain?',
        answer: 'Madrid',
        id: 'item2',
    },
    { question: 'What is the capital of Italy?', answer: 'Rome', id: 'item3' },
];
---

<BootstrapProvider>
    <div class="accordion" id="accordionExample">
        {accordionData.map((item) => <AccordionItem {...item} />)}
    </div>
</BootstrapProvider>
