---
import BootstrapProvider from '@components/Provider/BootstrapProvider.astro';
const { subtitle } = Astro.props;
---

<BootstrapProvider>
    <p class="fs-24 fw-bold">{subtitle}</p>
</BootstrapProvider>
