---
import BootstrapProvider from '@components/Provider/BootstrapProvider.astro';
import Image from '@components/utilities/image/Image.astro';
---

<BootstrapProvider>
    <div class="container">
        <div class="row">
            <Image />
        </div>
    </div>
</BootstrapProvider>
