---
import '@scss/bootstrap-provider-main.scss';
---

<!--
    BootstrapProvider
    -----------------
    This component integrates Bootstrap's SCSS styles and JavaScript into the Astro project.
    It wraps the child content within a div using Bootstrap classes, ensuring consistent
    styling and functionality across all nested components.
-->
<style is:global>
    :root,
    :root[data-theme='light'] {
        --background-color: #ced4da;
        color-scheme: light;
    }

    @media (prefers-color-scheme: dark), :root[data-theme='dark'] {
        :root {
            --background-color: #495057;
            color-scheme: dark;
        }
    }

    .light-dark-background {
        background-color: var(--background-color);
    }
</style>

<div class="bootstrap-provider">
    <script src="@js/main.js"></script>
    <slot />
</div>
