---
import '@scss/bootstrap-provider-main.scss';
---

<!--
    BootstrapProvider
    -----------------
    This component integrates Bootstrap's SCSS styles and JavaScript into the Astro project.
    It wraps the child content within a div using Bootstrap classes, ensuring consistent
    styling and functionality across all nested components.
-->
<script src="@js/main.js"></script>

<div class="bootstrap-provider">
    <slot />
</div>
